body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #121212;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.post-card {
  background: #1e1e1e;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

a {
  color: #4da6ff;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.comment {
  background: #222;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}